._SEG_REPRO
parcellate_MPF_MPRAGE_v8.0/SEG_REPRO/
parcellate_MPF_MPRAGE_v8.0/freesurfer_output
*.nii
*.log
*.csv
*.tar
*.mat
*.txt
*.hdr
*.img`
*.nii
*.nii.gz
parcellate_MPF_MPRAGE_v8.0/extract_mean_mpf_wmparc.sh
parcellate_MPF_MPRAGE_v8.0/extract_mean_mpf.sh
